// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 3.472vw;
  padding-block: 1.5vh 1.5vh;

  background-color: #fff;

  @media (max-width: $tablet_big) {
    gap: 2.016vw;
  }

  @media (max-width: $tablet) {
    gap: 1.389vw;
  }

  &-login-link {
    @media (max-width: $tablet_big) {
      display: none;
    }
  }

  &-avatar {
    @media (max-width: $tablet) {
      display: none !important;
    }
  }

  &-logo {
    img {
      width: 10.185vw;
      height: 3.6vh;

      object-fit: contain;
      object-position: center;

      @media (max-width: $tablet_big) {
        width: 16.23vw;
        height: 3.327vw;
      }

      @media (max-width: $tablet) {
        width: 22.917vw;
        height: 4.688vw;
      }
    }
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 1.157vw;

    @media (max-width: $tablet_big) {
      display: none;
    }
  }

  &-mobile-search {
    display: none !important;
    margin-left: auto;

    @media (max-width: $tablet) {
      display: flex !important;
    }
  }

  &-favourites-btn {
    @media (max-width: $tablet) {
      display: none !important;
    }
  }

  .icon-burger {
    display: none;

    @media (max-width: $tablet_big) {
      display: flex;
    }
  }

  &-panel {
    display: flex;
    align-items: center;
    gap: 0.694vw;

    .input {
      @media (max-width: $tablet) {
        display: none;
      }
    }

    @media (max-width: $tablet_big) {
      flex: 1;

      .input {
        flex: 1;
      }
    }

    @media (max-width: $tablet) {
      justify-content: end;
      flex: unset;
      gap: 1.389vw;
    }

    > * {
      &:nth-child(2) {
        @media (max-width: $tablet_big) {
          order: 3;
        }
      }

      &:nth-child(3) {
        @media (max-width: $tablet_big) {
          display: none;
        }
      }

      &:nth-child(5) {
        @media (max-width: $tablet_big) {
          order: 2;
          // scale: 2;
        }
      }

      &:nth-child(7) {
        @media (max-width: $tablet_big) {
          order: 6;
        }
      }

      &:nth-child(4) {
        @media (max-width: $tablet_big) {
          order: 4;
          // scale: 2;
        }
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;
    gap: 1.157vw;

    transition: translate 0.3s ease;

    &:hover {
      translate: 5% -5%;

      &::after {
        scale: 1.5;
      }
    }

    &:not(:last-child) {
      &::after {
        content: '';
        display: inline-block;
        width: 0.463vw;
        height: 0.463vw;
        min-width: 0.463vw;
        min-height: 0.463vw;

        background-color: black;
        border-radius: 50%;

        transition: scale 0.35s ease;
      }
    }
  }
}

// footer
.footer {
  background-color: #302f62;

  padding: 16vh 0 6vh;
  border-radius: 5.787vw 5.787vw 0 0;

  color: #fff;

  @media (max-width: $tablet) {
    padding: 10.417vw 0;
  }

  .container {
    > h2:first-child {
      @media (max-width: $tablet) {
        br {
          display: none;
        }
      }
    }
  }

  &-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.926vw;

    width: 100%;

    margin-bottom: 6vh;

    @media (max-width: $tablet_big) {
      gap: 1.613vw;
    }

    .icon {
      width: 2.662vw;
      height: 1.852vw;

      @media (max-width: $tablet_big) {
        width: 4.637vw;
        height: 3.226vw;
      }

      @media (max-width: $tablet) {
        width: 7.986vw;
        height: 5.556vw;
      }
    }
  }

  &-content {
    width: 100%;

    padding: 8vh 0 6vh;

    display: flex;
    align-items: start;
    justify-content: space-between;

    @media (max-width: $tablet_big) {
      flex-direction: column;
      gap: 4.032vw;
    }

    @media (max-width: $tablet) {
      gap: 4.34vw;
      padding: 10.417vw 0 6.5vw;
    }
  }

  &-links {
    display: flex;
    align-items: start;
    gap: 3.472vw;

    @media (max-width: $tablet) {
      row-gap: 5.208vw;
      column-gap: 1.91vw;

      flex-wrap: wrap;
    }

    .footer-col {
      @media (max-width: $tablet) {
        min-width: 33%;
      }

      &:nth-child(4) {
        @media (max-width: $tablet) {
          order: 1;
        }
      }

      &:nth-child(2) {
        @media (max-width: $tablet) {
          order: 2;
        }
      }

      &:nth-child(1) {
        @media (max-width: $tablet) {
          order: 4;
        }
      }

      &:nth-child(3) {
        @media (max-width: $tablet) {
          order: 3;
        }
      }
    }
  }

  &-col {
    display: flex;
    flex-direction: column;
    gap: 1.6vh;

    a {
      position: relative;
      width: fit-content;

      &:hover {
        &::before {
          scale: 1 1;
        }
      }

      &::before {
        content: '';

        display: block;

        position: absolute;
        width: 100%;

        height: 0.05vw;
        min-height: 0.05vw;

        background-color: #fff;

        left: 0;
        right: 0;
        bottom: -5%;

        scale: 0 1;

        transform-origin: left center;

        transition: scale 0.3s linear;
      }
    }

    span {
      opacity: 0.6;
    }
  }

  &-socials {
    display: flex;
    align-items: center;
    gap: 1.157vw;

    a {
      transition: 0.4s ease;
      transition-property: filter, scale;

      &:hover {
        filter: contrast(2);
        scale: 1.15;
      }
    }

    @media (max-width: $tablet_big) {
      gap: 2.016vw;
    }

    @media (max-width: $tablet) {
      gap: 3.472vw;
    }

    &.footer-socials-mobile {
      display: none;
      align-items: center;
      justify-content: center;

      width: 100%;

      @media (max-width: $tablet) {
        display: flex !important;
      }
    }

    .social {
      width: 2.315vw;
      height: 2.315vw;

      @media (max-width: $tablet_big) {
        width: 4.032vw;
        height: 4.032vw;
      }

      @media (max-width: $tablet) {
        width: 6.944vw;
        height: 6.944vw;
      }

      a {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          pointer-events: none;
        }
      }
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    gap: 3.2vh;

    @media (max-width: $tablet_big) {
      width: 100%;

      ul {
        display: none;
      }
    }

    p {
      max-width: 28.935vw;
      width: 100%;

      @media (max-width: $tablet_big) {
        max-width: 100%;
      }
    }
  }
}
