// breakpoints
$laptop_big: 1760px;
$laptop: 1440px;
$laptop_small: 1280px;
$tablet_big: 1024px;
$tablet: 768px;
$tablet_small: 656px;
$mobile_big: 565px;
$mobile: 465px;
$mobile_small: 376px;

// colors
$primary: #635ef7;
$lemon: #fff9cb;
$white-milk: #f8f8fa;
$grey-secondary: #9a9a9a;
$grey-text: #a8a8a8;
$grey-light: #c0bebe;
$grey-light-secondary: #cacaca;
$grey-dark: #4c4c4c;
$black-smoke: #252525;
$purple: #5f4dce;
$navy: #5470b1;
$red: #f35b5c;
$blue: #2f8eff;
